<div *ngIf="pizza">
<div class="list">
<h1>Gostaria de algum adicional?</h1>
  <br><br>
  <body>
    <div *ngFor="let item of ingredientsList">
      <div class="box">
        <div class="container">
          <main class="grid">
            <article>
              <div class="text">
                <p><input type="checkbox" value={{item.name}} id={{item.id}} [(ngModel)]="item.isChecked" (change)="changeSelection()" >{{item.name}} - R${{item.price}},00</p>
              </div>
            </article>
      </main>
        </div>
        </div>
      </div>
  </body>
<br>
<br>
<div class="resumo">
  <br>
  <h1>Resumo do pedido: </h1>
  <br>
  <div *ngFor="let item of ingredientsList">
    <span *ngIf="item.isChecked">
     <h3> {{item.name}}  -  R${{item.price}},00</h3>
</span>
  </div>
  <h3>Pizza {{pizza.name}}  -  R${{pizza.price}},00</h3>
  <br>
<div class="botao">
  <button (click)="carrinho()">Fechar pedido</button>
  <button (click)="goBack()">Voltar</button>
</div>
</div>
</div>

