
<body>
  <h1>Entre em contato!</h1>
  <div class="wrapper">
    <div class="contact-form">
      <div class="input-fields">
        <input type="text" class="input" placeholder="Nome">
        <input type="text" class="input" placeholder="Email">
        <input type="text" class="input" placeholder="Telefone">
        <input type="text" class="input" placeholder="Assunto">
      </div>
      <div class="msg">
        <textarea placeholder="Mensagem"></textarea>
        <div class="btn">Enviar</div>
      </div>
    </div>
  </div>
</body>
