
<div class="card">
<p-galleria [value]="img" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '1800px'}" [numVisible]="5" [circular]="true"
        [autoPlay]="true" [transitionInterval]="3000">
        <ng-template pTemplate="item" let-item>
            <img [src]="item.src" style="width: 100%; display: block;" />
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
            <div class="grid grid-nogutter justify-content-center">
                <img [src]="item.thumbnailImageSrc" style="display: block;" />
            </div>
        </ng-template>
      </p-galleria>
</div>
